asgiref==3.11.1
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
cryptography==49.0.0
diff-match-patch==20241021
Django==5.2.16
django-allauth==65.18.0
django-axes==8.3.1
django-ckeditor==6.7.3
django-debug-toolbar==7.0.0
django-import-export==4.4.1
django-js-asset==4.0.1
django-ratelimit==4.1.0
django-redis==7.0.0
django-taggit==6.1.0
djangorestframework==3.17.1
gunicorn==26.0.0
idna==3.18
MarkupSafe==3.0.3
packaging==26.2
psycopg2-binary==2.9.12
pycparser==3.0
python-decouple==3.8
python-dotenv==1.2.2
python-http-client==3.3.7
razorpay==2.0.1
redis==8.0.1
requests==2.34.2
sendgrid==6.12.5
sqlparse==0.5.5
tablib==3.9.0
typing_extensions==4.16.0
urllib3==2.7.0
Werkzeug==3.1.8
whitenoise==6.12.0
